@yellow: #fffa19;

.margenes(@top, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;

}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px); }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
  }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.oi-plus {
  padding-right: 10px; }

.img-fluid {
  width: 100%;
  height: 300px; }

.card-image-top {
  width: 100%;
  height: 180px; }

.tab-content {
  padding-top: 10px; }

.d-block {
  height: 400px; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black; }