.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.oi-plus {
  padding-right: 10px;
}
.img-fluid {
  width: 100%;
  height: 300px;
}
.card-image-top {
  width: 100%;
  height: 180px;
}
.tab-content {
  padding-top: 10px;
}
.d-block {
  height: 400px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}
